* {
  font-family: "Golos Text", sans-serif;
  font-family: "Poppins", sans-serif;
}

.allBody {
  background-color: #5c1104;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.bg-whiteSmoke {
  background-color: whitesmoke;
}

.pointer {
  cursor: pointer;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 50%;
}

.add-to-cart {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.cart-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/cart3.svg"); /* Replace with your cart icon image path */
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .onlyOnMobile {
    margin-top: 20%;
  }
  .hideDisplayOnMobile {
    display: none !important;
  }
}

#paragraph_in_jumbotron {
  text-align: justify !important;
}

.mt2em {
  margin-top: 2em !important;
}
.mt5rem {
  margin-top: 5rem !important;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
}

.addToCarTBtn {
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

  /* Colorful Box Shadow */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(255, 0, 0, 0.6),
    0 6px 12px rgba(0, 255, 0, 0.6), 0 8px 16px rgba(0, 0, 255, 0.6);
}

.addToCarTBtn:hover {
  font-size: 18px;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 24, 0.9220938375350141) 0%,
    rgba(9, 85, 125, 1) 9%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(255, 0, 0, 0.6),
    0 6px 12px rgba(0, 255, 0, 0.6), 0 8px 16px rgba(0, 0, 255, 0.6);
}

.cardWidth {
  width: 25rem !important;
  margin-left: 1%;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.textShadowEffect {
  animation: slide-in 10s ease;
}

.center {
  display: flex;
  justify-content: center;
}

.pb10rem {
  padding-bottom: 10rem;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}
