* {
  font-family: "Golos Text", sans-serif;
  font-family: "Poppins", sans-serif;
}

.allBody {
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.bg-whiteSmoke {
  background-color: whitesmoke;
}

.pointer {
  cursor: pointer;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 50%;
}

.add-to-cart {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.cart-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/cart3.svg"); /* Replace with your cart icon image path */
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .onlyOnMobile {
    margin-top: 20%;
  }
}

#paragraph_in_jumbotron {
  text-align: justify !important;
}

.mt2em {
  margin-top: 2em !important;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
}

.addToCarTBtn {
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

  /* Colorful Box Shadow */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(255, 0, 0, 0.6),
    0 6px 12px rgba(0, 255, 0, 0.6), 0 8px 16px rgba(0, 0, 255, 0.6);
}

.card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(255, 0, 0, 0.6),
    0 6px 12px rgba(0, 255, 0, 0.6), 0 8px 16px rgba(0, 0, 255, 0.6);
}
